@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, button, p {
    font-family: 'Roboto', sans-serif;
}
body {
    height: 100vh
}
.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    transition: .6s ease-in;
}
.main h1 {
    font-size: 60px;
    font-weight: 900;
}
.main button {
    padding: 15px 55px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 700;
    background-color: #F02311;
    color: #FFF;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
/*## Pop Uo ##*/
section.modal-parent {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center
}
div.modal {
    width: 70%;
    background-color: #FFF;
    padding: 45px;
    border-radius: 6px;
    position: relative;
    font-size: 22px;
    animation: 1s dropDown;
}
@keyframes dropDown{
    0% {
        margin-top: -50%
    }
    100% {
        margin-top: 0;
    }
}
span.X {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
}